<h2>Create a new Figure!</h2> 

 <form method="post" action="/figures">

 <label>Name:</label>
 <input type="text" name="figure[name]" id="figure_name">
 <br></br>

<h2>Title</h2>
<% Title.all.each do |title| %>
<input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %></input>
<% end %>
<br></br>
<h4>Create a new Title:</h4>
<label>Title Name:</label>
<input type="text" name="title[name]" id="new_title">
<br></br>

<h2>Landmark</h2>
<% Landmark.all.each do |landmark| %>
<input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %></input>
<% end %>
<br></br>
<h4>Create a new Landmark:</h4>
<label>Landmark Name:</label>
<input type="text" name="landmark[name]" id="new_landmark">
<br></br>

 <input type="submit" value="Create New Figure">

 </form>